.idea/TabHibernation.iml
.idea/scopes/scope_settings.xml
.idea/codeStyleSettings.xml

Chrome/icon16.png
Chrome/icon48.png
TabHibernation.safariextension/icon16.png
TabHibernation.safariextension/Icon-48.png

node_modules/
