html {
  cursor: pointer;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  background-color: lightgray;
  background-image: url(noisy-texture-100x100-o5-d10-c-ccc-t0.png);
}

div#info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  width: 500px;
  border-radius: 6px;
  border: 1px solid darkgray;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 20px;
}

a.wakeUpButton {
  color: white;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #426cff;
  padding: 10px;
  display: block;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

span.pageURL {
  color: darkgrey;
  font-size: 13px;
  word-wrap: break-word;
}

a.wakeUpButton:active {
  background-color: #26429c;
}