body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  background-color: lightgray;
}

div#info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  width: 500px;
  border-radius: 5px;
  border: 1px solid darkgray;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 20px;
}